    <footer>
<h2>Cristian Daniel Mendoza Hernández</h2>
<br>
<h3>cristian8mendoza8@gmail.com</h3>
<br>
<br>

        <div class="redes">
            <a href="https://github.com/CristianMendozaH"><i class="fa-brands fa-github"></i></a>
            <a href="mailto:cristian8mendoza8@gmail.com"><i class="fa-solid fa-envelope"></i></a>
        </div>
        <p>&copy; 2024 Cristian Mendoza</p>
    </footer>

<script src="/assets/js/menu.js"></script>