    <header>
        <div class="logo">
            <a href="/">{{nombre}} <span>{{apellido}}</span></a>
        </div>
        {{>navbar}}
        <div class="nav-responsive" onclick="mostrarOcultarMenu()">
            <i class="fa-solid fa-bars"></i>

        <div class="nav-icon" id="nav-icon">
            <i class="fas fa-bars"></i> <!-- Este es el ícono del menú -->
        </div>
    </header>