<nav id="nav">
            <ul>
                <li><a href="/" onclick="seleccionar()">INICIO</a></li>
                <li><a href="sobremi" onclick="seleccionar()">SOBRE MI</a></li>
                <li><a href="habilidades" onclick="seleccionar()">HABILIDADES</a></li>
                <li><a href="curriculum" onclick="seleccionar()">CURRICULUM</a></li>
                <li><a href="portafolio" onclick="seleccionar()">PORTFOLIO</a></li>
            </ul>
        </nav>