@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
:root { /* ----------------------Costume propeties----------------------*/
    --blanco: #ffffff;
    --Negro: #000000;
    --Azul-electico: #007BFF;
    --Naranja: #FF4500;
    --Gris-Palido: #2E2E2E;
    --Gris-Oscuro: #1a1a1a;
    --Plaateado: #C0C0C0;
    --verde: #208d12;
    --Python: #007BFF;
    --CPlusPlus: #007BFF;
    --Csharp: #007BFF;
    --HTML5: #ff0e0e;
    --CSS: #53a6ff;
    --JavaScript: #efff09;
    --Java: #81d1ff;
}
*{
    box-sizing: border-box;
    font-family: 'Poppins';
    margin: 0;
}

section[id]{
    scroll-margin-top: 70px;    
}

/* Variables de css GLOBALES*/
html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
    scroll-snap-type:  y mandatory;
}

/* Estilo para el iframe en la sección de contacto */

.nav-responsive {
    display: none;
}

/* Estilos adicionales */
h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1rem;
}
body{
    font-family: 'poppins', sans-serif;
}

/* ------------------ICONOS------------------ */
svg {
    fill: var(--Negro);
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

/* ------------------MENU------------------ */
.contenedor-header {
    background: var(--Gris-Oscuro);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    border-bottom: 4px solid var(--Naranja);
}
.contenedor-header header {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a {
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: bold;
    color: var(--Naranja);
    text-decoration: none;
}
.contenedor-header header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.contenedor-header header ul li {
    margin: 0 15px;
}
.contenedor-header header nav ul li a {
    color: var(--blanco);
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover {
    color: var(--Naranja);
}
.logo span{
    font-family: 'Dancing Script';
    color: var(--blanco);
}
/* ------------------ ICONO DEL MENU (RESPONSIVE) ------------------ */

.contenedor-header header nav ul li a:hover{
    color: var(--Naranja);
}
.nav-responsive{
    background-color: var(--Naranja);
    color: var(--blanco);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.nav-icon {
    display: none; /* Oculto en pantallas grandes */
    font-size: 28px;
    color: var(--blanco);
    cursor: pointer;
}

/* SECCION INICIO */
.inicio {
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(../images/Backgraund.jpeg);
    height: 100vh;
    color: var(--blanco);
    display: flex;
    align-items: center;
    background-size: cover;
}

/* Estilos principales */
.inicio .contenido-banner {
    padding: 20px;
    background-color: var(--Azul-electico);
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 50px;
}

.inicio .contenido-banner img {
    margin-top: 40px;
    border: 5px solid var(--Gris-Oscuro);
    display: block;
    width: 75%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h1 {
    margin-top: 40px;
    font-size: 36px;
    font-family: 'Poppins';
}

.inicio .contenido-banner h2 {
    font-size: 20px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a {
    color: var(--Negro);
    display: inline-block;
    text-decoration: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 30px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover {
    background-color: var(--Plaateado);
}



/* SECCION S O B R E   M I */
.sobremi {
    background-color: var(--Gris-Palido);
    color: var(--blanco);
    padding: 50px 20px;
}

.sobremi .contenido-seccion {
    max-width: 1100px;
    margin: 0 auto;
}
.justificado {
    text-align: justify;
}
.sobremi h2 {
    font-size: 48px;
    font-family: 'Poppins';
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span {
    color: var(--Naranja);
    font-weight: bold;
}

.sobremi .fila {
    display: flex;
}
.sobremi .fila .col
{
    width: 50%;
}
.sobremi .fila .col h3 {
    font-size: 28px;
    font-family: 'Poppins';
    margin-bottom: 25px;
}

.sobremi .fila .col ul {
    list-style: none;
}

.sobremi .fila .col ul li {
    margin: 12px 0;
}

.sobremi .fila .col ul li strong {
    display: inline-block;
    color: var(--Azul-electico);
    width: 130px;
}

.sobremi .fila .col ul li span {
    background-color: var(--Naranja);
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .contenedor-intereses .interes:hover {
    background-color: var(--Plaateado);
}

.sobremi .fila .col .contenedor-intereses .interes i {
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.sobremi button:hover .overlay{
    width: 100%;
}

/* SECCION S K I L L S */
.skills{
    background-color: var(--Gris-Oscuro);
    color: var(--blanco);
    padding: 50px 20px;
}
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'Poppins';
    text-align: center;
    padding: 20px 0;

}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Poppins';
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: var(--Gris-Palido);
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: var(--Azul-electico);
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: var(--Azul-electico);
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 55%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .Cplus{
    width: 0%;
    animation: 2s Cplus forwards;
}
@keyframes Cplus {
    0%{width: 0%;}
    100%{width:  65%;}
}

.skills .skill .Csharp{
    width: 0%;
    animation: 2s Csharp forwards;
}
@keyframes Csharp {
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .java{
    width: 0%;
    animation: 2s java forwards;
}
@keyframes java {
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo {
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .flexibilidad{
    width: 0%;
    animation: 2s flexibilidad forwards;
}
@keyframes flexibilidad {
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .adaptacion{
    width: 0%;
    animation: 2s adaptacion forwards;
}
@keyframes adaptacion {
    0%{width: 0%;}
    100%{width: 80%;}
}

/* SECCION CURRICULUM */
.curriculum{
    background-color: var(--Gris-Oscuro);
    color: var(--blanco);
    padding: 50px 20px;
}
.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.curriculum h2{
    font-size: 48px;
    font-family: 'Poppins';
    text-align: center;
    padding: 20px 0;

}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Permite que las columnas se envuelvan en líneas nuevas en pantallas pequeñas */
}
.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}
.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'Poppins';
    margin-bottom: 25px;
}
.curriculum .fila .izquierda{
    border-right: 4px solid var(--Naranja);
}
.curriculum .fila .derecha{
    border-left: 4px solid var(--Naranja);
}
.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: var(--Gris-Palido);
    position: relative;
}
.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculum .fila .item .casa{
    color: var(--Azul-electico);
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: var(--Naranja);
    margin-bottom: 10px;
}
.curriculum .fila .item p{
    line-height: 24px;
}
.curriculum .fila .izq{
    border-right: 2px solid var(--Naranja);
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: 2px solid var(--Naranja);
    margin-left: 20px;
}

/* SECCION PORTFOLIO */

.PortadasT{
    color: var(--blanco);
}

.portfolio{
    background-color: var(--Gris-Palido);
    color: var(--blanco);
    padding: 50px 20px;
}
.portfolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.portfolio h2{
    font-size: 48px;
    font-family: 'Poppins';
    text-align: center;
    padding: 20px 0;
}
.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portfolio .galeria .proyecto img{
    width: 100%;
    display: block;
}
.portfolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(127, 135, 133, 0.8), rgba(140, 146, 145, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portfolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.portfolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}

/*Portafolio proyectos*/
.git {
    /* Estilos para el contenedor */
    text-align: center; /* Centra los elementos horizontalmente */
  }
  
  .language-button {
    /* Estilos para el botón */
    background-color: var(--Azul-electico); /* Color de fondo verde (puedes cambiarlo) */
    color: var(--blanco);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  .html5 {
    /* Estilos para el botón */
    background-color: var(--HTML5); /* Color de fondo verde (puedes cambiarlo) */
    color: var(--blanco);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  .css {
    /* Estilos para el botón */
    background-color: var(--CSS); /* Color de fondo verde (puedes cambiarlo) */
    color: var(--blanco);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  .JavaS {
    /* Estilos para el botón */
    background-color: var(--JavaScript); /* Color de fondo verde (puedes cambiarlo) */
    color: var(--Negro);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  .Java {
    /* Estilos para el botón */
    background-color: var(--Java); /* Color de fondo verde (puedes cambiarlo) */
    color: var(--Negro);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  .language-button1 {
    /* Estilos para el botón */
    background-color: var(--verde); /* Color de fondo verde (puedes cambiarlo) */
    color: var(--blanco);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .portfolio  .git img{
    margin-top: 5vw; /* Margen superior adaptable según el ancho de la pantalla */
    margin-bottom: 5vw; /* Margen inferior adaptable según el ancho de la pantalla */
    display: block;
    width: 30%; /* La imagen ocupará el 30% del ancho del contenedor */
    max-width: 170px; /* Tamaño máximo para que no crezca demasiado */
    margin: auto; /* Centrar la imagen */
    border-radius: 100%; /* Mantiene la imagen redondeada */
    transition: .5s;
}

.portfolio .galeria .proyecto .descripcion{
    text-decoration: none;
    text-align: center;
    padding: 20px;
}

.portfolio .contenido-seccion .definicion{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}
.portfolio .galeria .proyecto video {
    max-width: 100%;  /* El video ocupa el 100% del ancho del contenedor */
    height: auto;  /* Mantiene las proporciones del video */
    display: block;  /* Elimina cualquier posible espacio blanco causado por display: inline */
    margin: 0 auto;  /* Centra el video horizontalmente */
}

/* SECCION CONTACTO */
.contacto{
    background-image: url(img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
.contacto .col img{
    width: 100%;
}
.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-swidth: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
}
.contacto .col .info ul li i{
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}

/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 77px;
        background-color: var(--Gris-Palido);
        width: 200px;
        height: 100vh;
        transition: all 0.5s ease; 
    }
    nav.responsive.active {
        right: 0; /* Se desliza a su lugar cuando está visible */
        opacity: 1; /* Aparece completamente */
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid var(--blanco);
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .tituloP h2 {
        font-size: 10vw; /* Ajusta el tamaño del texto para pantallas más pequeñas */
    }
    .portfolio .git img {
        width: 50%; /* Ocupará el 50% del ancho en pantallas medianas */
        margin-top: 10vw; /* Margen superior más amplio en pantallas pequeñas */
        margin-bottom: 10vw; /* Margen inferior más amplio en pantallas pequeñas */
    }
    .portfolio .galeria .proyecto video {
        max-width: 100%;  /* Asegura que el video mantenga su flexibilidad */
        height: auto;  /* Mantiene las proporciones */
    }
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .portfolio .galeria{
        display: block;
        width: 100%;
    }
    .portfolio .galeria .proyecto{
        max-width: 100%;
    }
    .portfolio .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: var(--blanco);
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--blanco);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--Azul-electico);
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}